asgiref==3.7.2
crispy-bootstrap5==2025.4
Django==5.0.3
django-crispy-forms==2.3
django-humanize==0.1.2
humanize==4.11.0
pillow==10.2.0
python-barcode==0.15.1
pyzbar==0.1.9
sqlparse==0.4.4
pillow
gunicorn
whitenoise
