{% extends 'base.html' %}
{% load static %}

{% load widget_tweaks %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{ title }}</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="{{ form.name.id_for_label }}">Product Name</label>
                                 
                                    {% render_field form.name class="form-control" %}
                                    {% if form.name.errors %}
                                        <div class="invalid-feedback d-block">
                                            {{ form.name.errors }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="{{ form.supplier.id_for_label }}">Supplier</label>
                                    
                                    {% render_field form.supplier class="form-control" %}
                                    {% if form.supplier.errors %}
                                        <div class="invalid-feedback d-block">
                                            {{ form.supplier.errors }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="{{ form.category.id_for_label }}">Category</label>
                                    {% render_field form.category class="form-control" %}
                                    
                                    {% if form.category.errors %}
                                        <div class="invalid-feedback d-block">
                                            {{ form.category.errors }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="{{ form.unit.id_for_label }}">Unit</label>
                                    {% render_field form.unit class="form-control" %}
                                    {% if form.unit.errors %}
                                        <div class="invalid-feedback d-block">
                                            {{ form.unit.errors }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="{{ form.price_per_unit.id_for_label }}">Price per Unit</label>
                                    {% render_field form.price_per_unit class="form-control" %}
                                    {% if form.price_per_unit.errors %}
                                        <div class="invalid-feedback d-block">
                                            {{ form.price_per_unit.errors }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Save</button>
                                <a href="{% url 'cooperatives:supplier_product_list' %}" class="btn btn-secondary">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 